<%- include('partials/head.ejs', {pageTitle}) %>
    <link rel="stylesheet" href="/css/products.css"/>
	</head>
	<body>
        <%- include('partials/nav.ejs', {pageTitle, isAuth, csrfToken}) %>
		<main>
			<h1>All Your Shoping Needs...</h1>
			<% if (products.length > 0) {%>
			    <div class="products-list">
                    <% for (let prod of products) { %>
                       <%- include("partials/product-card.ejs", {prod, isAdmin, isAuth}) %>
                    <% } %>
                </div>
            <% } else {%>
                <h2>No Products Found</h3>
            <% } %>
		</main>
<%- include('partials/end.ejs') %>

